.header {
    height:auto;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header-nav {
    height:50px;
    background-color:#0B132B;
}
.header-content {
    height:100%;
    background-color:#ebf1f5;
    text-align: center;
}
.header-logo {
    width:150px;
    height:150px;
    position: absolute;
    left:47%;
}
.header-banner {
    width:100%;
    height:auto;
    margin:0;
}
.header-content-icons {
    display:flex;
}
.header-content-icon {
    width:100px;
    height:100px;
}
.header-content-icons > img {
    width:100px;
    height:100px;
}