.header {
    height:auto;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header-nav {
    height:64px;
    background-color:#0B132B;
}
.header-content {
    height:100%;
    background-color:#ebf1f5;
    text-align: center;
}
.header-top {
    height:50px;
}