@font-face {
    font-family: 'exo-regular';
    src: url('./assets/fonts/Exo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Michroma-Regular';
    src: url('./assets/fonts/Michroma-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight:bold;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight:bolder;
    font-style: normal;
}
@font-face {
    font-family: 'KleeOne';
    src: url('./assets/fonts/KleeOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin:0 512px;
}
.app-container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    border-left: solid 1px gray;
    
}
.input-group {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
}
.input-label {
    font-weight: bold;
}
.input-text {
    height:32px;
    max-width:256px;
}
