@font-face {
    font-family: 'Gotham Light';
    src: url('./assets/fonts/Gotham-Light.woff2') format('woff2');
    font-size: 12px;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('./assets/fonts/GothamMedium.ttf');
    font-size:12px;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('./assets/fonts/GothamBook.ttf') format('truetype');
    font-size:12px;
}

body {
    font-family: 'Gotham Light';
    margin:0 20%;
}
.welcome-message {
    margin:12px;
    display:flex;
}
.welcome-message-column {
    flex: 1 1 50%;
}
.welcome-message-column-list-item {
    display:flex;
}
.welcome-message-column-list-item-text {
    margin:0;
}
.welcome-message-column-list-item > img {
    height:32px;
    width:32px;
}